@media (max-width:768px) {
    .nav-links{
        display: none;
    }

    #nav-menu{
        display: block;
    }

    /* Hero Section */
    #page1{
        min-height: 300vh;
    }
    
    .hero-section{
        flex-direction: column;
        padding-top: 18vw;
    }

    .left-section{
        width: 100%;
        & br{
            display: none;
        }
    }

    .right-section{
        width: 100%;
        & img{
            scale: 0.7;
        }
    }

    #phone_1{
        top: 1px;
    }
    #phone_2{
        top: -10%;
    }

    .cards-section{
        justify-content: space-between;
    }


    .steps-section{
        flex-direction: column;
        gap: 20px;
    }
    .step{
        width: 100%;
        height: 180px;        
    }


    .employee{
        flex-direction: column;
    }

    .employee-info{
        width: 100%;
    }

    .employee-img{
        width: 100%;
    }
    .employee-img img{
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        height: 550px;
    }

    .slider{
        width: 600px;
        height: 400px;
        overflow: hidden;
    }

    .cta-section{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 0;
        & h1{
            font-size: 3rem;
            color: #fff;
        }
    }

    .download{
        width: 100%;
        justify-content: center;
        & img{
            width: 300px;
            height: 200px;
        }
    }

    .footer-section{
        column-gap: 40px;
    }

    #item1{
        grid-column-start: 1;
        grid-column-end: 5;
        & br{
            display: none;
        }
    }
}


@media (max-width:320px) {
    .nav-bar{
        width: 100%;
        padding: 20px 14px;
    }

    .container{
        width: 100vw;
        padding-inline: 14px;
    }

    #page1{
        background-size: cover;
    }

    .left-section{
        & h1{
            font-size: 2.6rem;
            padding-top: 5rem;
        }
    }

    .right-section{
        width: 100vw;
        & img{
            scale: 0.5;
            margin: 0 auto;
        }
    }
    #phone_1{
        transform: translateX(-220px) translateY(-130px);
        
    }
    #phone_2{
        transform: translateX(-160px) translateY(-20px);
    }

    .feature-section{
        & h1{
            font-size: 3rem;
        }
    }

    .cards-section{
        padding: 2rem 0;
        flex-direction: column;
    }

    .intro-section img{
        width: 100%;
        height: fit-content;
    }

    .employee-img img{
        width: 100%;
        height: fit-content;
    }

    .employee{
        row-gap: 40px;
    }

    .slider{
        width: 100%;
        height: fit-content;
    }

    .review-section{
        padding: 5vh 0;
    }

    #item4{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
}