/* Commom Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

.container{
    width: 85%;
    height: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}
a:hover{
    color: #023e8a;
}
button{
    position: relative;
    overflow: hidden;
    z-index: 100;
}

button::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 0;
    transition: width 0.3s;
    z-index: -1;
}

button:hover::after{
    width: 100%;
    transform-origin: top left;
}
button:hover{
    color: #111 !important;
}

/* NavBar */
nav{
    width: 100vw;
    height: fit-content;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s;
}

.nav-bar{
    width: 85%;
    height: 70px;
    justify-content: space-between;
    padding-block: 20px;
}

.logo{
    font-size: 2rem;
    letter-spacing: 0.2px;
    color: #fff;
}

.nav-links{
    gap: 1.5rem;

    & a{
        font-size: 1.2rem;
        color: snow;
        font-weight: 500;
        position: relative;
    }

    & a:hover{
        color: #e0fbfc;
    }
}
.nav-links a::before{
    content: "";
    position: absolute;
    bottom: -1.5px;
    height: 2px;
    width: 0;
    background-color: #f1faee;
    transition: width 0.3s;
}
.nav-links a:hover::before{
    width: 100%;
    background-color: #f1faee;
}


#nav-menu {
    cursor: pointer;
    display: none;

    & i{
        font-size: 1.5rem;
    }
}

.nav-popup{
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    display: none;
}

.nav-popup-links{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 5em 2em;
    row-gap: 16px;

    & a{
        color: #222;
        font-size: 2em;
    }
}
/* Main Body  */
main{
    width: 100vw;
    min-height: 100vh;
}

/* Page 1 */
#page1{
    width: 100vw;
    min-height: 120vh;
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, 
    rgba(61, 179, 197, 0.8) 100%), url('./Images/hero-bg.jpg');
    display: flex;
    justify-content: center;
}

.hero-section{
    height: 100vh;
    padding-top: 4.5rem;
}

.left-section{
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.4rem;
    color: #fff;
    & h1{
        font-size: 3.5rem;
        padding-top: 24px;
    }

    & p{
        font-size: 1.5rem;
        letter-spacing: 0.4px;
    }

    & button{
        background: transparent;
        width: 180px;
        font-size: 1.3rem;
        border: none;
        outline: 2px solid snow;
        color: #fff;
        padding: 12px 0;
        border-radius: 8px;
        cursor: pointer;
    }
}

.right-section{
    width: 50%;
    position: relative;
    & img{
        scale: 0.79;
        opacity: 0;
    }
}

#phone_1{
    position: absolute;
    left: 0%;
    z-index: 1;
}
#phone_2{
    transform: translateY(80px);
    position: absolute;
    left: 16%;
    z-index: 2;
}

/* Page 2 */
#page2{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}

.feature-section{
    flex-direction: column;
    row-gap: 20px;
    padding-top: 15vh;

    & h1{
        font-family: helvetica;
        font-size: 4rem;
        text-align: center;
        font-weight: 900;
        background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, 
        rgba(61, 179, 197, 0.8) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.cards-section{
    width: 100%;
    padding: 4rem 0;
    justify-content: space-around;
}

.card{
    width: 350px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 16px;
    text-align: center;
    & .icon{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(11, 154, 176);
        text-align: center;
        padding: 24px 0;
        & i{
            font-size: 3rem;
            text-align: center;
            color: snow;
        }
    }

    & p{
        font-size: 18px;
        color: grey;
        text-align: center;
    }
}

#page3{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.intro-section{
    flex-direction: column;
}
.intro-section img{
    width: 600px;
    height: 500px;
    opacity: 0;
}

.steps-section{
    width: 100%;
    justify-content: space-around;
    padding: 60px 0;
}

.step{
    width: 350px;
    height: 200px;
    padding: 20px;
    align-items: flex-start;
    row-gap: 18px;
    flex-direction: column;
    background-color: #f1faee;
    border-radius: 15px;
    transition: box-shadow 0.4s;
    border: 1px solid #ffecd1;
    & h2{
        font-size: 2.2rem;
    }
}

.step:hover{
    box-shadow: 0 0 8px #111111c9;
}

#page4{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}
.employee{
    width: 100%;
}

.employee-section{
    width: 100%;
    padding: 2rem 0;
    flex-direction: column;
}

.employee-info{
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    & h2{
        font-size: 2.8rem;
    }

    & p{
        font-size: 18px;
    }

    & button{
        width: 180px;
        font-size: 1.3rem;
        border: none;
        outline: 1px solid #00bbf9;
        background-color: rgb(11, 154, 176);
        color: #fff;
        padding: 12px 0;
        border-radius: 8px;
        cursor: pointer;
    }
}

.employee-img{
    width: 50%;
}
.employee-img img{
    width: 600px;
    height: 550px;
}

#page5{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.review-section{
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 10vh 0;
    & h2{
        font-family: helvetica;
        font-size: 3rem;
        text-align: center;
        font-weight: 900;
        background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, 
        rgba(61, 179, 197, 0.8) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.slider{
    width: 750px;
    height: 400px;
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    padding: 20px 16px;
    & p{
        font-size: 20px;
        text-align: center;
    }

    & img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

.dots{
    gap: 10px;
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #00bbf9;
    cursor: pointer;
    transition: background-color 0.3s;
}
.active{
    background-color: #00bbf9;
}

#page6{
    width: 100vw;
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, 
        rgba(61, 179, 197, 0.8) 100%);
    display: flex;
    justify-content: center;
}

.cta-section{
    width: 100%;
    justify-content: space-between;
    padding: 24px 0;
    & h1{
        font-size: 3rem;
        color: #fff;
    }
}

.download{
    width: 50%;
    justify-content: center;
    & img{
        width: 300px;
        height: 300px;
    }
}

footer{
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-section{
    width: 100%;
    height: 100%;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
}

.section{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 30px;

    & p{
        color: #11111196;
    }
}

.social-links{
    gap: 18px;

    & i{
        font-size: 1.2rem;
        color: #111;
        background-color: #11111119;
        padding: 16px;
        border-radius: 50%;
        transition: all 0.3s;
    }

    & i:hover{
        background-color:  rgba(61, 179, 197, 0.8);
    }
}

.footer-link{
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    min-height: 150px;
    & a{
        color: #111;
    }

    & a:hover{
        text-decoration: underline;
    }
}

